html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
  margin: 1rem 0;
}

ol,
ul {
  list-style-type: decimal;
  margin-left: 35px;
}

li {
  margin-bottom: 10px;
}

.custom-grey {
  color: #AEB3B3;
}

.fade-in {
  animation: fade-in 800ms forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 50;
  }
}
/* Menu Animation */
#menu div:nth-child(1),
#menu div:nth-child(3),
#menu2 div:nth-child(1),
#menu2 div:nth-child(3) {
  transform: none;
  transform-origin: left center;
  transition: transform 300ms;
}

#menu div:nth-child(2),
#menu2 div:nth-child(2) {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  opacity: 1;
  transition: clip-path 100ms, opacity 200ms;
}

.cross div:nth-child(1) {
  transform: rotate(45deg) !important;
  transform-origin: left center;
}

.cross div:nth-child(2) {
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%) !important;
  opacity: 0 !important;
}

.cross div:nth-child(3) {
  transform: rotate(-45deg) !important;
  transform-origin: left center;
}

#menuBar {
  animation: delay 1.5s forwards;
}

#menuText {
  text-shadow: black;
}

#navLogo {
  animation: delayLogo 5s forwards;
}

@keyframes delayLogo {
  0%, 95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes delay {
  0%, 99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: logo 1s forwards 4s;
}

.mainContent {
  opacity: 0;
  animation: mainContent 1s forwards 5s;
}

@keyframes logo {
  0% {
    transform: translateY(-50%) translateX(-50%);
    transform-origin: center center;
    opacity: 1;
  }
  100% {
    transform: translateY(-100%) translateX(-50%);
    transform-origin: center center;
    opacity: 0;
  }
}
@keyframes mainContent {
  0% {
    transform: translateY(4rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.showI {
  animation: showI 500ms forwards;
}

@keyframes showI {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.showF {
  animation: showF 500ms forwards;
}

@keyframes showF {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.hideI {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: hideI 500ms forwards;
}

@keyframes hideI {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
.hideF {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: hideF 500ms forwards;
}

@keyframes hideF {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
#Contact {
  animation: delay 500ms forwards;
}

#menu {
  transform: scaleY(0.8);
}

#menu.cross {
  transform: scaleY(1);
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #092340;
  border-left: 1px solid #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0f417a;
  opacity: 0.75;
}

*::selection {
  background-color: #092340;
  color: #ffffff;
}

.valueBox .Arrow {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.valueBox:hover .Arrow {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.z--1 {
  z-index: -1 !important;
}

#tabs button .tabLine {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  height: 2px;
  width: calc(100% - 2.2rem);
  background-color: #092340;
  transform-origin: center;
  transition: transform 200ms;
}

.selectedBtn {
  color: #092340 !important;
}

.selectedBtn .tabLine {
  transform: translateX(-50%) scaleX(1) !important;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #092340;
  transition: 0.2s all;
  cursor: text;
  pointer-events: none;
}

input {
  padding: 0.2rem 0;
  color: #092340;
}

input:focus ~ label,
input:valid ~ label {
  font-size: 14px;
  top: -24px;
}

/*# sourceMappingURL=global.css.map */
