{% extends '_layouts/base' %}

{% block bodyContent %}

  <!-- Nav Bar -->
  <div
    class="nav z-50 py-4 md:py-12 lg:py-20 w-full h-16 md:w-32 px-6 lg:w-64 lg:px-12 md:h-screen bg-navy lg:bg-transparent lg:hover:bg-navy transition-colors duration-300 fixed top-0 right-0 border-b md:border-b-0 md:border-l border-transparent hover:border-white cursor-pointer flex md:flex-col justify-between">
    <div id="menuBox" class="flex flex-col items-center justify-center order-2 md:order-1">
      <div id="menu" class="flex flex-col justify-between h-4 md:h-6 transition-transform duration-500 md:mb-4">
        <div class="menuLines w-5 md:w-8 bg-white" style="height: 0.1rem;"></div>
        <div class="menuLines w-5 md:w-8 bg-white" style="height: 0.1rem;"></div>
        <div class="menuLines w-5 md:w-8 bg-white" style="height: 0.1rem;"></div>
      </div>
      <p class="menuTextChange hidden md:block uppercase text-white text-xs md:text-base">
        Menu
      </p>
    </div>
    <a id="navLogo" class="block md:w-full order-1 md:order-2 focus:outline-none" href="./index.html">
      <img class="navLogoChange w-16 md:w-24 mx-auto hidden md:block" src="/assets/images/logo/MHM_Automation_Logo_Stacked_REVERSED.svg" alt=""/>
      <img class="navLogoMobileChange w-16 md:w-24 mx-auto block md:hidden" src="/assets/images/logo/MHM_Automation_Logo_Stacked_REVERSED.svg" alt=""/>
    </a>
    <!-- Footer -->
    <p id="copywriting" class="text-white text-right text-xs w-full p-2 absolute bottom-0 right-0 opacity-0 md:opacity-100 pointer-events-none md:pointer-events-auto" style="font-size: 0.55rem;">
      &copy; MHM Automation
      <script>
        document.write(new Date().getFullYear())
      </script>
      | Website by
      <a href="https://marketsouth.co.nz/" target="_blank">Market South</a>
    </p>
  </div>
  <!-- Border Mobile -->
  {# <div class="w-full h-16 fixed top-0 left-0 border-b border-white z-30 md:hidden mobileLine"></div> #}

  <!-- Nav Items -->
  <div id="menuBar" class="z-40 w-screen h-full fixed top-0 left-0 bg-navy transform transition-transform duration-500 pr-16 md:pr-32 lg:pr-64">
    <div class="fixed top-0 right-0 w-full md:w-32 lg:w-64 h-16 md:h-full border-b md:border-b-0 md:border-l border-white transform"></div>
    <div class="w-full h-full md:grid grid-cols-3">
      <div class="col-span-1 h-full hidden md:block navigationImage">
        <!-- Nav Image -->
        {% for i, img in navigationImage.image.all() %}
          <img class="w-full h-full object-cover fade-in" src="{{ img.url()  }}" alt="" style="{{ i != 0 ? 'display:none;' : '' }}" />
        {% endfor %}
      </div>
      <!-- Nav Links -->
      <div class="col-span-2 h-full">
        <div class="relative max-w-lg w-full px-6 md:px-12 mx-auto h-full pt-24 md:pt-48">
          <div class="navLine w-px h-full bg-white absolute top-0 left-0 hidden md:block" style="transition: max-height 300ms;"></div>

          <div class="linkBox flex flex-col text-2xl md:text-4xl text-white uppercase">
            <!-- Navigation -->
            {% include '_sections/navigation' %}
            <!-- End Navigation -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <main class="overflow-hidden">
    <!-- Content -->
    <article class="relative w-full min-h-screen md:pr-32 lg:pr-64 bg-navy bg-opacity-50 flex items-center">
      <!-- Background Image for ya-->
      {% set home = craft.entries.section('home') %}
      {% set entries = home.all() %}
      {% for entry in entries %}
      <img src="{{ entry.bannerImage.one().url() }}" alt="about" class="z--1 w-full h-full object-cover absolute top-0 left-0"/>
      <div class="absolute z-30 top-0 right-0 w-0 md:w-32 lg:w-64 md:h-full md:border-l border-white"></div>
      <div id="mainContent" class="relative max-w-6xl mx-auto w-full px-4 md:px-16 xl:px-32 pt-32 pb-16 text-white">
        <!-- Animated Logo -->
        <!-- Animated Logo -->
        {# <img src="/assets/images/logo/MHM_Automation_Logo_Stacked_REVERSED.svg" alt="logo" class="logo max-w-md w-full mx-auto px-6"/> #}
        <div class="logo max-w-md w-full mx-auto px-6">
          <!--?xml version="1.0" encoding="utf-8"?-->
          <!-- Generator: Adobe Illustrator 24.1.3, SVG Export Plug-In . SVG Version: 6.00 Build 0) -->
          <svg
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewbox="0 0 462.78 250.63"
            style="enable-background:new 0 0 462.78 250.63;"
            xml:space="preserve"
          >
            <style type="text/css">
              .st0 {
                fill: #FFFFFF;
                stroke: #FFFFFF;
                stroke-miterlimit: 10;
              }
              .st1 {
                fill: #B9C4BA;
                stroke: #B9C4BA;
                stroke-width: 0.75;
                stroke-miterlimit: 10;
              }
            </style>
            <g>
              <path class="st0 svg-elem-1" d="M44.57,218.05h8.25c0.58-1.51,1.34-3.37,1.98-4.94h12.43l1.98,4.94h8.25l-16.44-41.19L44.57,218.05z
             M57.82,205.56l3.19-8.07c1.16,2.96,2.15,5.34,3.25,8.07H57.82z"></path>
              <path class="st0 svg-elem-2" d="M108.29,204.39c0,4.01-3.83,5.98-7.61,5.98c-3.72,0-7.09-2.03-7.55-6.04v-26.49h-7.67v26.55
            c0,8.42,6.91,13.3,15.22,13.65c8.07-0.06,15.22-5,15.22-13.65v-26.55h-7.61V204.39z"></path>
              <polygon class="st0 svg-elem-3" points="124.09,185.46 133.85,185.46 133.85,218.05 141.52,218.05 141.52,185.46 151.28,185.46 151.28,177.85
            124.09,177.85 	"></polygon>
              <path
                class="st0 svg-elem-4"
                d="M173.06,177.85c-11.1,0-20.04,9-20.04,20.1c0,11.1,8.95,20.04,20.04,20.04c11.21,0,20.1-8.95,20.1-20.04
            C193.16,186.85,184.27,177.85,173.06,177.85z M173.06,210.38c-6.85,0-12.43-5.58-12.43-12.43c0-6.85,5.58-12.49,12.43-12.49
            c6.91,0,12.49,5.63,12.49,12.49C185.55,204.8,179.97,210.38,173.06,210.38z"></path>
              <path class="st0 svg-elem-5" d="M223.94,207.47l-14.52-29.68h-7.49v40.26h7.61v-22.6l11.1,22.6h6.8l10.34-22.13v22.13h7.67v-40.26h-7.55
            C233.29,187.55,228.59,197.66,223.94,207.47z"></path>
              <path class="st0 svg-elem-6" d="M253.79,218.05h8.25c0.58-1.51,1.34-3.37,1.98-4.94h12.43l1.98,4.94h8.25l-16.44-41.19L253.79,218.05z
             M267.04,205.56l3.19-8.07c1.16,2.96,2.15,5.34,3.25,8.07H267.04z"></path>
              <polygon class="st0 svg-elem-7" points="285.04,185.46 294.8,185.46 294.8,218.05 302.47,218.05 302.47,185.46 312.23,185.46 312.23,177.85
            285.04,177.85 	"></polygon>
              <rect x="320.07" y="177.85" class="st0 svg-elem-8" width="7.67" height="40.2"></rect>
              <path
                class="st0 svg-elem-9"
                d="M355.5,177.85c-11.1,0-20.04,9-20.04,20.1c0,11.1,8.95,20.04,20.04,20.04c11.21,0,20.1-8.95,20.1-20.04
            C375.6,186.85,366.71,177.85,355.5,177.85z M355.5,210.38c-6.85,0-12.43-5.58-12.43-12.43c0-6.85,5.58-12.49,12.43-12.49
            c6.91,0,12.49,5.63,12.49,12.49C367.99,204.8,362.41,210.38,355.5,210.38z"></path>
              <polygon class="st0 svg-elem-10" points="410.33,177.85 410.33,204.39 391.69,177.85 384.25,177.85 384.25,218.05 391.92,218.05 391.92,191.44
            410.51,218.05 417.94,218.05 417.94,177.85 	"></polygon>
              <polygon class="st0 svg-elem-11" points="263.71,150.85 289.24,150.85 289.24,66.42 263.71,32.63 263.71,88.25 199.08,88.25 199.08,32.64
            173.56,66.27 173.56,150.85 199.08,150.85 199.08,112.56 263.71,112.56 	"></polygon>
            </g>
            <polygon class="st1 svg-elem-12" points="120.12,99.31 70.12,32.59 44.52,32.59 44.52,150.85 70.12,150.85 70.12,70.95 120.12,137.08 161.76,82
          199.08,32.64 170.41,32.64 "></polygon>
            <polygon class="st1 svg-elem-13" points="392.66,32.59 342.66,99.31 292.37,32.64 263.7,32.64 301.02,82 342.66,137.08 392.66,70.95
          392.66,150.85 418.26,150.85 418.26,32.59 "></polygon>
          </svg>
        </div>


        <!-- Main Content -->
        <div class="w-full mainContent px-6">
          {% for i, block in entry.pageIntroduction.all() %}
            <h3 class="text-4xl md:text-5xl font-bold leading-tight uppercase tracking-wide mb-4">
              {{ block.mainHeading }}
            </h3>
            <div class="text-lg md:text-2xl tracking-wide">
              {{ block.richText }}
            </div>
          {% endfor %}
          <div class="w-full grid grid-cols-3 sm:grid-cols-3 gap-4 sm:gap-12 md:gap-16 lg:gap-48">
            {% for i, block in entry.iconBlocks.all() %}
            <a href="#" class="w-full pt-20 focus:outline-none hover:opacity-50 transition-opacity duration-200">
              <img src="{{ block.brandLogo.one().url() }}" alt="" class="w-full h-full object-contain"/>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- Footer -->
      <p id="copywriting" class="text-white text-right text-xs w-full p-2 absolute bottom-0 md:hidden" style="font-size: 0.55rem;">
        &copy; MHM Automation
        <script>
          document.write(new Date().getFullYear())
        </script>
        | Website by
        <a href="https://marketsouth.co.nz/" target="_blank">Market South</a>
      </p>
          {% endfor %}
    </article>
  </main>
  <script src='/assets/js/pages/home/home.js'></script>
{% endblock %}
