{% extends '_layouts/base' %}

{% block bodyContent %}

  {{ parent() }}

  <!-- Nav Bar -->
  <div
    onmouseover="disableScroll()"
    onmouseout="enableScroll()"
    class="nav z-50 py-4 md:py-12 lg:py-20 w-full h-16 md:w-32 px-6 lg:w-64 lg:px-12 md:h-screen bg-navy lg:bg-transparent lg:hover:bg-navy transition-colors duration-300 fixed top-0 right-0 border-b md:border-b-0 md:border-l border-transparent hover:border-white cursor-pointer flex md:flex-col justify-between">
    <div id="menuBox" class="flex flex-col items-center justify-center order-2 md:order-1">
      <div id="menu" class="flex flex-col justify-between h-4 md:h-6 transition-transform duration-500 md:mb-4">
        <div class="menuLines w-5 md:w-8 bg-white" style="height: 0.1rem;"></div>
        <div class="menuLines w-5 md:w-8 bg-white" style="height: 0.1rem;"></div>
        <div class="menuLines w-5 md:w-8 bg-white" style="height: 0.1rem;"></div>
      </div>
      <p class="menuTextChange hidden md:block uppercase text-white text-xs md:text-base">
        Menu
      </p>
    </div>
    <a href="#top" class="backToTop transform -rotate-90 hidden md:flex items-center order-2 text-sage">
      <span style="white-space: nowrap;">Back to top</span>
      <svg class="icon icon-tabler icon-tabler-chevron-right" xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z"/>
        <polyline points="9 6 15 12 9 18"/>
      </svg>
    </a>
    <a class="block md:w-full order-1 md:order-3 focus:outline-none" href="{{ url('') }}">
      <img class="navLogoChange w-16 md:w-24 mx-auto hidden md:block" src="/assets/images/logo/MHM_Automation_Logo_Stacked_REVERSED.svg" alt=""/>
      <img class="navLogoMobileChange w-16 md:w-24 mx-auto block md:hidden" src="/assets/images/logo/MHM_Automation_Logo_Stacked_REVERSED.svg" alt=""/>
    </a>
    <!-- Footer -->
    <p id="copywriting" class="text-navy text-right text-xs w-full p-2 absolute bottom-0 right-0 opacity-0 hidden md:block" style="font-size: 0.55rem;">
      &copy; MHM Automation
      <script>
        document.write(new Date().getFullYear())
      </script>
      | Website by
      <a href="https://marketsouth.co.nz/" target="_blank">Market South</a>
    </p>
  </div>
  <!-- Border Mobile -->
  {# <div class="w-full h-16 fixed top-0 left-0 border-b border-white z-30 md:hidden mobileLine"></div> #}

  <!-- Nav Items -->
  <div id="menuBar" onmouseover="disableScroll()" onmouseout="enableScroll()" class="z-40 w-screen h-full fixed top-0 left-0 bg-navy transform transition-transform duration-500 pr-16 md:pr-32 lg:pr-64">
    <div class="w-full h-full md:grid grid-cols-3">
      <div class="col-span-1 h-full hidden md:block navigationImage">
        <!-- Nav Image -->
        {% for i, img in navigationImage.image.all() %}
          <img class="w-full h-full object-cover fade-in" src="{{ img.url()  }}" alt="" style="{{ i != 0 ? 'display:none;' : '' }}" />
        {% endfor %}>
      </div>
      <!-- Nav Links -->
      <div class="col-span-2 h-full">
        <div class="relative max-w-lg w-full px-6 md:px-12 mx-auto h-full pt-24 md:pt-48">
          <div class="navLine w-px h-full bg-white absolute top-0 left-0 hidden md:block" style="transition: max-height 300ms;"></div>

          <div class="linkBox flex flex-col ext-2xl md:text-4xl text-white uppercase">
            <!-- Navigation -->
            {% include '_sections/navigation' %}
            <!-- End Navigation -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <main id="top" class="overflow-hidden">
    <!-- Content -->
    <article class="relative w-full min-h-screen bg-navy bg-opacity-50 overflow-hidden">
      <!-- Background Image for ya-->
      <img src="{{ entry.featureImage.one().url() }}" alt="about" class="bannerImage z--1 w-full h-full object-cover absolute top-0 left-0"/>
      <div class="absolute z-30 top-0 right-0 w-0 md:w-32 lg:w-64 md:h-full md:border-l border-white"></div>
      <div class="w-full min-h-screen md:pr-32 lg:pr-64 flex items-center">
        <div id="mainContent" class="relative bannerText max-w-6xl mx-auto w-full px-4 md:px-16 xl:px-32 py-32 text-white">
          <!-- Main Content -->
          <div class="w-full px-6 pt-24">
            <!-- Category & Date -->
            <div class="flex flex-col text-base md:text-lg uppercase tracking-wide transform xl:-rotate-90 md:-rotate-90 origin-left md:-ml-6 text-sage">
              {% for category in entry.investorcategory.all() %}
                <div>{{ category.title }}</div>
              {% endfor %}
              <div class="font-bold">
                {{ entry.postDate | date('j F, Y') }}
              </div>
            </div>
            <h3 class="text-4xl md:text-5xl font-bold leading-tight uppercase tracking-wide mb-4">
              {{ entry.title }}
            </h3>
            <p class="text-lg md:text-2xl tracking-wide">
              {{ entry.excerpt }}
            </p>
          </div>
        </div>
      </div>
    </article>

    <article class="w-full md:pr-32 lg:pr-64 overflow-hidden relative text-navy">
      <!-- Line -->
      <div class="absolute z-30 top-0 right-0 w-0 md:w-32 lg:w-64 md:h-full md:border-l border-navy"></div>
      <!-- Carousel Caption Content -->
      <div class="max-w-screen-xl mx-auto w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 md:px-12 xl:px-24">
        {% for i, block in entry.gallery.all() %}

            <div class="w-full xl:col-span-2 h-full md:py-32 relative flex items-center">
              {% set image = block.galleryImages %}
              {% if image | length and image != '' and image.one() != null %}
              <!-- Carousel -->
              <!-- Buttons -->

              {% if image | length > 1 %}
              <button class="uPrev absolute left-0 transform -translate-y-1/2 translate-x-4 z-20 h-6 w-6 md:h-8 md:w-8 border-t border-l border-white -rotate-45 focus:outline-none" style="top: 50%;"></button>
              <button class="uNext absolute right-0 transform -translate-y-1/2 -translate-x-4 z-20 h-6 w-6 md:h-8 md:w-8 border-t border-r border-white rotate-45 focus:outline-none" style="top: 50%;"></button>
              {% endif %}
              <!-- Carousel-->
              <div class="relative w-full">
            <!-- Decoration -->
              <div class="absolute w-6 h-24 bg-sage top-0 right-0 transform translate-x-full"></div>
              <div class="w-full h-full relative mt-20 upperCarousel">
                <!-- Repeatable -->
                {% for img in image %}
                  <div class="relative" style="padding-top: 66%;">
                    <img src="{{ img.url }}" alt="" class="object-cover object-center w-full h-full absolute top-0 left-0"/>
                  </div>
                {% endfor %}
                <!-- End -->
              </div>
            </div>
              {% endif %}
            </div>

            <div class="w-full h-full p-6 md:px-12 md:py-32 flex items-center">
              {% if block.caption != ''%}
              <p>
                  <span class="font-bold">Caption:</span>
                  {{ block.caption }}
              </p>
              {% endif %}
            </div>
          {% else %}
          <div class="my-10"></div>
        {% endfor %}
      </div>

      <!-- Data -->
      <div class="max-w-screen-xl mx-auto w-full pb-24 md:pb-32 px-6 md:px-12 xl:px-24 md:txt-xl">
        <div class="mb-4">{{ entry.test }}</div>
        <div class="mb-4">{{ entry.investorsRichText }}</div>
        {% for i, block in entry.document.all() %}
        <a href="{{ block.uploadDocument.one().url }}" class="inline-block py-2 px-4 lg:mt-32 sm:mt-24 text-sm md:text-base border border-navy hover:bg-navy hover:text-white transition-colors duration-100 mb-2" target="_blank">
          {{ block.documentName }}
        </a>
        {% endfor %}
        <div class="pt-24 text-left hover:text-gray-400 transition-colors duration-100 mb-2"><a href="/investors-centre" class="h-font text-sm flex items-center">
           <img class="mr-2 h-3 w-3" src="/assets/images/icons/back.svg" alt="">Back to Investors Centre
          </a>
        </div>
      </div>

    </article>

    <!-- Carousel Links -->
    {% include 'investors/otherinvestors' with {
      'heading' : 'Other News'
    } %}
  </main>

  <script src="/assets/js/siema.min.js"></script>
  <script>
  //Carousel
  const bSiema = new Siema({selector: ".bottomCarousel", perPage: 2, startIndex: 0.5});
  document.querySelector(".bPrev").addEventListener("click", () => bSiema.prev());
  document.querySelector(".bNext").addEventListener("click", () => bSiema.next());
  //Carousel
  const uSiema = new Siema({selector: ".upperCarousel", perPage: 1});
  document.querySelector(".uPrev").addEventListener("click", () => uSiema.prev());
  document.querySelector(".uNext").addEventListener("click", () => uSiema.next());
  </script>
  <script src='/assets/js/pages/investors/innerInvestor.js'></script>
  <script src='/assets/js/section/bannerParallax.js'></script>
  <script src='/assets/js/section/navigation.js'></script>

{% endblock %}
