{% set allNews = craft.entries.section('investors').all() %}

<div class="w-full relative md:pr-32 lg:pr-64 py-24 md:py-32 overflow-hidden text-navy">
  <!-- Line For Nav -->
  <div class="absolute z-30 top-0 right-0 w-0 md:w-32 lg:w-64 md:h-full md:border-l border-navy"></div>
  <div class="max-w-screen-xl w-full mx-auto">
    <div class="w-full px-6 md:px-12 xl:px-24">
      <div class="max-w-xl text-navy text-2xl md:text-4xl font-bold leading-tight uppercase tracking-wide mb-8 md:mb-16" data-aos="fade-right" data-aos-anchor-placement="top-bottom" data-aos-duration="500">
        Market announcements and Documents
      </div>
    </div>
    <!-- Tabs -->
    <div id="tabs" class="w-full px-2 md:px-8 xl:px-20 text-sage flex flex-wrap mb-12"               data-aos="fade-right"
              data-aos-anchor-placement="top-bottom"
              data-aos-duration="550">
      <button class="all btn-investorsCentre relative text-xl md:text-xl px-4 mb-4 focus:outline-none" data-category="all">
        <span>All</span>
        <div class="tabLine"></div>
      </button>
      {% set myCategoryQuery = craft.categories().group('investorsCentre') %}
      {# Fetch the categories #}
      {% set categories = myCategoryQuery.all() %}
      {% for category in categories %}
        <button class="media btn-investorsCentre relative text-xl md:text-xl px-4 mb-4 focus:outline-none" data-category="{{'category_'~category.id}}">
          <span>{{ category.title }}</span>
          <div class="tabLine"></div>
        </button>
      {% endfor %}
    </div>
    <!-- Cards -->
    <div  id="_investorContent" class="w-full grid grid-cols-1 lg:grid-cols-2 gap-12 md:gap-24 px-6 md:px-12 xl:px-24">
      <!-- Repeatable Card Start -->
      {% for news in allNews %}

      <a href="{{ news.url }}" class="investory-data all {% for category in news.investorcategory.all()  %} {{ 'category_'~category.id~' ' }} {% endfor %}" >
        <div class="flex flex-col">
          <!-- Image Box -->
          <div class="w-full relative overflow-hidden mb-3 md:mb-6" style="padding-top: 66%;">
            <img src="{{ news.featureImage.one().url() }}" alt="" class="w-full h-full object-cover absolute top-0 left-0"/>
          </div>
          <!-- Date & Category -->
          <div class="flex flex-wrap mb-3 md:mb-6">
            <h6 class="font-bold text-sage uppercase text-sm md:text-sm tracking-wide mr-3">
              {{ news.postDate | date('j F, Y') }}
            </h6>
            {% for category in news.investorcategory.all()  %}
            <div class="text-sm mr-3 md:text-sm text-sage border-l border-sage pl-3 uppercase">
              {{ category.title }}
            </div>
          {% endfor %}
        </div>
        <!-- Title -->
        <h3 class="text-xl md:text-2xl font-bold tracking-wide leading-tight mb-3 md:mb-6">
          {{ news.title }}
        </h3>
        <div class="text-sm md:text-base">
          {{ news.excerpt }}
        </div>
      </div>
    </a>
    {% endfor %}
      <div class="flex flex-col no-category" style="display:none;">
        There are no entries, please select another entry.
      </div>
    <!-- End -->
  </div>
</div>
</div>
