<!-- Carousel Links -->
<div class="relative w-full md:pr-32 lg:pr-64 overflow-hidden">
{% set allNews = craft.entries.section('investors').all() %}
  <!-- Line -->
  <div class="absolute z-30 top-0 right-0 w-0 md:w-32 lg:w-64 md:h-full md:border-l border-navy"></div>
  <div class="w-full relative">
    <!-- Buttons -->
    <button class="bPrev absolute left-0 transform -translate-y-1/2 translate-x-4 z-20 h-6 w-6 md:h-8 md:w-8 border-t border-l border-white -rotate-45 focus:outline-none" style="top: 50%;"></button>
    <button class="bNext absolute right-0 transform -translate-y-1/2 -translate-x-4 z-20 h-6 w-6 md:h-8 md:w-8 border-t border-r border-white rotate-45 focus:outline-none" style="top: 50%;"></button>
    <!-- Carousel-->
    <div class="carousel-frame w-full relative bottomCarousel">

      <!-- Repeatable -->
      {% for news in allNews %}
      <a href="{{ news.url }}" class="flex relative overflow-hidden z-10" style="padding-top: 66%;">
        <img src="{{ news.featureImage.one.url() }}" alt="" class="absolute top-0 left-0 object-cover w-full h-full"/>
        <div class="absolute top-0 left-0 w-full h-full bg-navy bg-opacity-50 flex flex-col justify-center items-center p-6 md:py-12 md:px-24 text-center md:opacity-0 hover:opacity-100 transition-opacity duration-300">
          <p class="font-bold text-xs sm:text-sm md:text-xl tracking-wide text-sage uppercase mb-1 md:mb-4">
            {{ news.postDate|date('d F Y') }}
          </p>
          <h3 class="text-white text-xs sm:text-2xl md:text-3xl lg:text-4xl leading-tight md:leading-none uppercase">
            {{ news.title }}
          </h3>
        </div>
      </a>
      {% endfor %}
      <!-- End -->

    </div>
  </div>
</div>
