{% extends '_layouts/base' %}

{% block bodyContent %}
  <!-- Nav Bar -->
  <div
    onmouseover="disableScroll()"
    onmouseout="enableScroll()"
    class="nav z-50 py-4 md:py-12 lg:py-20 w-full h-16 md:w-32 px-6 lg:w-64 lg:px-12 md:h-screen bg-navy lg:bg-transparent lg:hover:bg-navy transition-colors duration-300 fixed top-0 right-0 border-b md:border-b-0 md:border-l border-white lg:border-transparent hover:border-white cursor-pointer flex md:flex-col justify-between">
    <div id="menuBox" class="flex flex-col items-center justify-center order-2 md:order-1">
      <div id="menu" class="flex flex-col justify-between h-4 md:h-6 transition-transform duration-500 md:mb-4">
        <div class="menuLines w-5 md:w-8 bg-white" style="height: 0.1rem;"></div>
        <div class="menuLines w-5 md:w-8 bg-white" style="height: 0.1rem;"></div>
        <div class="menuLines w-5 md:w-8 bg-white" style="height: 0.1rem;"></div>
      </div>
      <p class="menuTextChange hidden md:block uppercase text-white text-xs md:text-base">
        Menu
      </p>
    </div>
    <a href="#top" class="backToTop transform -rotate-90 hidden md:flex items-center order-2 text-sage">
      <span style="white-space: nowrap;">Back to top</span>
      <svg class="icon icon-tabler icon-tabler-chevron-right" xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z"/>
        <polyline points="9 6 15 12 9 18"/>
      </svg>
    </a>
    <a class="block md:w-full order-1 md:order-3 focus:outline-none" href="{{ url('') }}">
      <img class="navLogoChange w-16 md:w-24 mx-auto hidden lg:block" src="/assets/images/logo/MHM_Automation_Logo_Stacked_REVERSED.svg" alt=""/>
      <img class="navLogoMobileChange w-16 md:w-24 mx-auto block lg:hidden" src="/assets/images/logo/MHM_Automation_Logo_Stacked_REVERSED.svg" alt=""/>
    </a>
    <!-- Footer -->
    <p id="copywriting" class="text-navy text-right text-xs w-full p-2 absolute bottom-0 right-0 opacity-0 hidden md:block" style="font-size: 0.55rem;">
      &copy; MHM Automation
      <script>
        document.write(new Date().getFullYear())
      </script>
      | Website by
      <a href="https://marketsouth.co.nz/" target="_blank">Market South</a>
    </p>
  </div>
  <!-- Border Mobile -->
  {# <div class="w-full h-16 fixed top-0 left-0 border-b border-white z-30 md:hidden mobileLine"></div> #}

  <!-- Nav Items -->
  <div id="menuBar" onmouseover="disableScroll()" onmouseout="enableScroll()" class="z-40 w-screen h-full fixed top-0 left-0 bg-navy transform transition-transform duration-500 pr-16 md:pr-32 lg:pr-64">
    <div class="w-full h-full md:grid grid-cols-3">
      <div class="col-span-1 h-full hidden md:block navigationImage">
        <!-- Nav Image -->
        <!-- Nav Image -->
        {% for i, img in navigationImage.image.all() %}
          <img class="w-full h-full object-cover fade-in" src="{{ img.url()  }}" alt="" style="{{ i != 0 ? 'display:none;' : '' }}"/>
        {% endfor %}
      </div>
      <!-- Nav Links -->
      <div class="col-span-2 h-full">
        <div class="relative max-w-lg w-full px-6 md:px-12 mx-auto h-full pt-24 md:pt-48">
          <div class="navLine w-px h-full bg-white absolute top-0 left-0 hidden md:block" style="transition: max-height 300ms;"></div>

          <div class="linkBox flex flex-col ext-2xl md:text-4xl text-white uppercase">
            <!-- Navigation -->
            {% include '_sections/navigation' %}
            <!-- End Navigation -->

          </div>
        </div>
      </div>
    </div>
  </div>

  <main id="top" class="overflow-hidden">
    <!-- Content -->
    {% set about = craft.entries.section('about') %}
    {% set entries = about.all() %}
    {% for entry in entries %}
    <article class="relative w-full min-h-screen bg-navy bg-opacity-50 overflow-hidden">
      <!-- Background Image for ya-->
      <img src="{{ entry.bannerImage.one().url() }}" alt="about" class="bannerImage z--1 w-full h-full object-cover absolute top-0 left-0"/>
      <div class="absolute z-30 top-0 right-0 w-0 md:w-32 lg:w-64 md:h-full md:border-l border-white"></div>
      <div class="w-full min-h-screen md:pr-32 lg:pr-64 flex items-center">
        <div id="mainContent" class="relative bannerText max-w-6xl mx-auto w-full px-4 md:px-16 xl:px-32 py-32 text-white">
          <!-- Main Content -->
          <div class="w-full px-6">
            {% for i, block in entry.pageIntroduction.all() %}
              <h3 data-aos="fade-right" data-aos-anchor-placement="top-bottom" class="text-4xl md:text-5xl font-bold leading-tight uppercase tracking-wide mb-4">
                {{ block.mainHeading }}
              </h3>
              <div data-aos="fade-right" data-aos-anchor-placement="top-bottom" data-aos-duration="500" class="text-lg md:text-2xl tracking-wide mb-3">
                {{ block.richText }}
              </div>
            {% endfor %}
            <div class="w-full grid grid-cols-4 sm:grid-cols-4 gap-4 sm:gap-8 md:gap-8 lg:gap-24">
              {% for i, block in entry.iconBlocks.all() %}
              <a onclick="onCompanyClick({{i}})" class="w-full pt-20 focus:outline-none hover:opacity-50 transition-opacity cursor-pointer duration-200">
                <img src="{{ block.brandLogo.one().url() }}" alt="" class="w-full h-full object-contain"/>
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </article>

    <!-- Logo Content -->
    <div class="w-full">
      <!-- HC -->
      <div class="w-full relative">
        <div class="w-full relative bg-navy text-white pt-12 md:pt-24 pb-6 md:pr-32 lg:pr-64">
          <div class="absolute z-30 top-0 right-0 w-0 md:w-32 lg:w-64 md:h-full md:border-l border-white opacity-25"></div>
          <div class="max-w-screen-xl w-full mx-auto px-6 md:px-12 xl:px-24">
            <h6 class="text-sm md:text-base font-bold uppercase py-1 border-b-2 border-white mb-6">
              Our brands
            </h6>
          </div>
        </div>
      </div>
      <!-- Our Brands Repeatable -->
      <div class="w-full relative">
        {% for i, block in entry.businessUnits.all() %}
          <div class="w-full relative bg-navy text-white pt-6 pb-12 md:pb-24 md:pr-32 lg:pr-64">
            <div class="absolute z-30 top-0 right-0 w-0 md:w-32 lg:w-64 md:h-full md:border-l border-white opacity-25"></div>
            <div class="max-w-screen-xl w-full mx-auto px-6 md:px-12 xl:px-24">
              <!-- Clickable -->
              <div id="{{block.businessUnitName|kebab }}" onclick="onCompanyClick({{i}})" class="w-full flex flex-col lg:flex-row lg:items-center cursor-pointer" data-aos="fade-up">
                <img src="{{ block.businessUnitLogo.one().url() }}" alt="HC" class="max-w-xs w-full flex-shrink-0 pr-24"/>
                <div class="flex-1 flex items-center">
                  <div class="flex-1 text-sm md:text-base lg:px-6 xl:px-16">
                    {{ block.businessUnitExcerpt }}
                  </div>
                  <div class="ml-2 w-6 h-6 border-t border-r border-white transform rotate-45 transition-transform duration-300 Arrow_{{i}} mr-2"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Show -->
          <div  id="{{block.businessUnitName|kebab }}-c" class="overflow-hidden w-full h-full md:pr-32 lg:pr-64 relative Company_{{i}}">
            <div class="absolute z-30 top-0 right-0 w-0 md:w-32 lg:w-64 md:h-full md:border-l border-navy"></div>
            <div id="mercerExpand" class="w-full h-full grid grid-cols-1 md:grid-cols-2 border-b border-navy overflow-hidden">
              <img id="mercerExpandImage" src="{{ block.featureImage.one().url() }}" alt="" class="w-full h-64 md:h-screen object-cover"/>
              <div class="w-full p-6 py-20 md:p-16 xl:p-32 bg-white text-navy">
                <h3 class="text-2xl md:text-4xl leading-tight font-bold uppercase tracking-wide mb-2 md:mb-4">
                  {{ block.businessUnitName }}
                </h3>
                <div class="text-sm md:text-base mb-12">
                  {{ block.businessUnitDescription }}
                </div>
                {% if block.website != ''%}
                  <a href="{{ block.website }}" class="py-2 px-4 text-sm md:text-base border border-navy hover:bg-navy hover:text-white transition-colors du" target="_blank">
                    Visit Website
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- Story -->
    <div id="story" class="relative w-full md:pr-32 lg:pr-64">
      {% for i, block in entry.ourStory.all() %}
        <div class="absolute z-30 top-0 right-0 w-0 md:w-32 lg:w-64 md:h-full md:border-l border-navy"></div>
        <div id="storyImage" class="w-full h-full md:absolute top-0 right-0 md:pr-32 lg:pr-64 flex justify-end">
          <img src="{{ block.ourStoryImage.one().url() }}" class="w-full md:w-1/2 h-64 md:h-screen object-cover md:col-start-2 md:row-start-1 md:py-32 flex-shrink-0" alt=""/>
        </div>
        <!-- Main Stuff -->
        <div class="max-w-screen-xl mx-auto w-full grid grid-cols-1 md:grid-cols-2" data-aos="fade-up">
          <!-- Invisible Image :P -->
          <div class="w-full h-screen hidden md:block"></div>
          <div class="w-full md:col-start-1 md:row-start-1 p-6 md:px-12 xl:px-24 pb-24 md:py-32 bg-white text-navy">
            <h3 data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="500" class="text-2xl md:text-4xl font-bold uppercase tracking-wide mb-2 md:mb-4">
              {{ block.ourStoryHeading}}
            </h3>
            <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="600" class="w-full text-sm md:text-base">
              {{ block.ourStoryRichtext }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- White Content -->
    <article class="relative w-full md:pr-32 lg:pr-64 overflow-hidden pb-32 md:pb-64">
      <div class="absolute z-30 top-0 right-0 w-0 md:w-32 lg:w-64 md:h-full md:border-l border-navy"></div>
      <!-- Our Vision -->
      <div class="w-full py-24 md:py-32 border-t border-b border-navy text-navy">
        {% for i, block in entry.ourVision.all() %}
          <div class="max-w-screen-xl mx-auto w-full px-6 md:px-12 xl:px-24 relative">
            <h3 data-aos="fade-right" data-aos-anchor-placement="top-bottom" data-aos-duration="500" class="text-3xl md:text-4xl font-bold uppercase mb-4">
              {{ block.ourVisionHeading }}
            </h3>
            <div data-aos="fade-right" data-aos-anchor-placement="top-bottom" data-aos-duration="600" class="text-sm md:text-base lg:w-1/2">
              {{ block.ourVisionRichtext }}
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- Our Values -->
      <div id="our-values-block" class="w-full pt-24 md:pt-32 border-b border-navy">
        <h3 class="max-w-screen-xl mx-auto w-full px-6 md:px-12 xl:px-24 text-3xl md:text-4xl font-bold uppercase text-navy mb-12" data-aos="fade-right" data-aos-anchor-placement="top-bottom" data-aos-duration="500">
          Our Values
        </h3>
        <!-- Clickable Images -->
        <div class="w-full max-w-screen-xl mx-auto grid grid-cols-2 lg:grid-cols-4 gap-6 md:gap-12 px-6 md:px-12 xl:px-24 pb-12 md:pb-24">
          <!-- 1 -->
          {% for i, block in entry.ourValues.all() %}
          <div onclick="onValueClick({{i}})" class="relative valueBox" data-aos-anchor-placement="top-bottom" data-aos="fade-up" data-aos-duration="3000">
            <div class="relative overflow-hidden cursor-pointer mb-6" style="padding-top: 100%;">
              <img src="{{ block.ourValueIcons[0].url() }}" alt="values" class="absolute top-0 left-0 w-full h-full object-contain"/>
            </div>
            <div class="Arrow mx-auto w-12 h-12 border-b border-r border-navy transform rotate-45"></div>
          </div>
          {% endfor %}
          <!-- End -->
        </div>
        <!-- Hide Show Box-->
        {% for i, block in entry.ourValues.all() %}
        <div id="{{i}}_valuesContent" class="w-full relative bg-darkTeal">
          <!-- Content 1 -->
          <svg onclick="onValueClick({{i}})" class="h-12 w-12 absolute top-0 right-0 m-12 cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round" style="z-index:49;">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          <div id="values{{i}}" class="max-w-screen-xl mx-auto w-full px-6 md:px-12 xl:px-24 grid lg:grid-cols-2">
            <div class="relative pt-24 md:py-32 lg:pr-32">
              <h3 class="text-4xl md:text-6xl text-white mb-4 leading-tight">
                {{ block.OurValuesTitle }}<br/>
                <span class="font-bold uppercase">{{ block.ourValueBoldTitle }}</span>
              </h3>
              <div class="text-sm md:text-base text-white mb-6">
                  {{block.OurValuesContent }}
              </div>
            </div>
            <!-- Content Image -->
            {# <div class="w-full h-full flex items-end px-24"> #}
            <div class="relative md:py-32 lg:pr-32">
              {% if block.ourValueIcons[1] is defined %}
                <img src="{{ block.ourValueIcons[1].url() }}" alt="" class="w-full flex-shrink-0 object-contain"/>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- Company History -->
      <div id="history" class="w-full text-navy">
        <div class="max-w-screen-xl mx-auto w-full px-6 md:px-12 xl:px-24 py-24 md:py-32 flex flex-col md:flex-row">
          <div id="historyText" class="w-full md:w-1/3 pr-2 mb-20">
            {% for i, block in entry.companyHistory.all() %}
            <h1 class="text-navy text-2xl md:text-4xl font-bold leading-tight uppercase tracking-wide mb-4">
              {{ block.companyHistorySectionTitle }}
            </h1>
            <div class="text-navy text-sm md:text-base">
              {{ block.companyHistoryExcerpt }}
            </div>
            {% endfor %}
          </div>
          <div class="w-full md:w-2/3">
            <!-- Timeline Container -->
            <div class="w-full h-full relative grid grid-cols-1 gap-12">
              <!-- Blue Line -->
              <div class="w-4 md:w-12 lg:w-24 h-full absolute z-0 top-0 left-0 border-r-2 border-navy"></div>
              <!-- Repeatable Post Start -->
              {% for i, block in entry.companyTimeline.all() %}
              <div data-aos="fade-up" class="w-full flex pl-4 md:pl-12 lg:pl-24">
                <div class="w-4 h-4 bg-white border-2 border-navy -ml-px mt-4 mr-6 md:mr-12 transform -translate-x-1/2"></div>
                <div class="flex-1 text-navy">
                  <h3 class="text-3xl md:text-4xl font-bold mb-4">
                    {{ block.companyYear }}
                  </h3>
                  <div class="text-sm md:text-base">
                    {{ block.companyHistoryRichtext }}
                  </div>
                </div>
              </div>
              {% endfor %}
              <!-- End -->
            </div>
          </div>
        </div>
      </div>
    </article>
    {% endfor %}
  </main>
  <!-- Footer -->
  <p id="copywriting" class="text-navy text-right text-xs w-full p-2 absolute bottom-0 md:hidden" style="font-size: 0.55rem;">
    &copy; MHM Automation
    <script>
      document.write(new Date().getFullYear())
    </script>
    | Website by
    <a href="https://marketsouth.co.nz/" target="_blank">Market South</a>
  </p>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/ScrollTrigger.min.js"></script>
  <script src='./assets/js/pages/about/about.js'></script>
  <script src='./assets/js/section/navigation.js'></script>
  <script src='./assets/js/section/bannerParallax.js'></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</div>
{% endblock %}
