{% extends '_layouts/base' %}

{% block bodyContent %}
<div class="bg-no-repeat bg-cover bg-center">
  <!-- Nav Bar -->
  <div
    class="nav z-50 py-4 md:py-12 lg:py-20 w-full h-16 md:w-32 px-6 lg:w-64 lg:px-12 md:h-screen bg-navy lg:bg-transparent lg:hover:bg-navy transition-colors duration-300 fixed top-0 right-0 border-b md:border-b-0 md:border-l border-transparent hover:border-white cursor-pointer flex md:flex-col justify-between"
  >
      <div id="menuBox" class="flex flex-col items-center justify-center order-2 md:order-1">
        <div id="menu" class="flex flex-col justify-between h-4 md:h-6 transition-transform duration-500 md:mb-4">
          <div class="menuLines w-5 md:w-8 bg-navy" style="height: 0.1rem;"></div>
          <div class="menuLines w-5 md:w-8 bg-navy" style="height: 0.1rem;"></div>
          <div class="menuLines w-5 md:w-8 bg-navy" style="height: 0.1rem;"></div>
        </div>
        <p class="menuTextChange hidden md:block uppercase text-navy text-xs md:text-base">
          Menu
        </p>
      </div>
      <a class="block md:w-full order-1 md:order-3 focus:outline-none" href="{{ url('') }}">
        <img class="navLogoChange w-16 md:w-24 mx-auto hidden md:block" src="/assets/images/logo/MHM_Automation_Logo_Stacked_PRIMARY.svg" alt=""/>
        <img class="navLogoMobileChange w-16 md:w-24 mx-auto block md:hidden" src="/assets/images/logo/MHM_Automation_Logo_Stacked_REVERSED.svg" alt=""/>
      </a>
      <!-- Footer -->
      <p id="copywriting" class="text-navy text-right text-xs w-full p-2 absolute bottom-0 right-0 opacity-0 md:opacity-100 pointer-events-none md:pointer-events-auto" style="font-size: 0.55rem;">
        &copy; MHM Automation
        <script>
          document.write(new Date().getFullYear())
        </script>
        | Website by
        <a href="https://marketsouth.co.nz/" target="_blank">Market South</a>
      </p>
    </div>
    <!-- Border Mobile -->
     <div
       class="w-full h-16 fixed top-0 left-0 border-b border-navy z-30 md:hidden mobileLine"
     ></div>

    <!-- Nav Items -->
    <div
      id="menuBar"
      class="z-40 w-screen h-full fixed top-0 left-0 bg-navy transform transition-transform duration-500 pr-16 md:pr-32 lg:pr-64"
    >
      <div
        class="fixed top-0 right-0 w-full md:w-32 lg:w-64 h-16 md:h-full border-b md:border-b-0 md:border-l border-white transform"
      ></div>
      <div class="w-full h-full md:grid grid-cols-3">
        <div class="col-span-1 h-full hidden md:block navigationImage">
          <!-- Nav Image -->
          {% for i, img in navigationImage.image.all() %}
            <img class="w-full h-full object-cover fade-in" src="{{ img.url()  }}" alt="" style="{{ i != 0 ? 'display:none;' : '' }}"/>
          {% endfor %}
        </div>
        <!-- Nav Links -->
        <div class="col-span-2 h-full">
          <div
            class="relative max-w-lg w-full px-6 md:px-12 mx-auto h-full pt-24 md:pt-48"
          >
            <div
              class="navLine w-px h-full bg-white absolute top-0 left-0 hidden md:block"
              style="transition: max-height 300ms;"
            ></div>

            <div
              class="linkBox flex flex-col text-2xl md:text-4xl text-white uppercase"
            >
            <!-- Navigation -->
            {% include '_sections/navigation' %}
            <!-- End Navigation -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <main class="overflow-hidden">
      <!-- Content -->
      <div class="w-full md:pr-32 lg:pr-64 relative">
        <div
          class="absolute z-30 top-0 right-0 w-0 md:w-32 lg:w-64 md:h-full md:border-l border-navy"
        ></div>
        <div class="w-full min-h-screen h-full grid grid-cols-1 md:grid-cols-3">
          {% set about = craft.entries.section('contact') %}
          {% set entries = about.all() %}
          {% for entry in entries %}
          <img
            src="{{ entry.featureImage.one().url()  }}"
            alt=""
            class="col-span-1 w-full h-64 md:h-full object-cover"
          />
          {% endfor %}
          <div
            class="md:col-span-2 w-full h-full px-6 md:px-12 lg:px-20 py-12 flex items-center"
          >
            <div
              id="Contact"
              class="w-full relative overflow-hidden max-w-2xl mx-auto"
            >
              <!-- Contact Info -->
              <div id="info" class="w-full h-full text-navy showI">
                <h3
                  class="text-4xl md:text-5xl font-bold leading-tight uppercase tracking-wide mb-12"
                >
                  Contact Us
                </h3>
                <!-- Info -->
                {% for i, block in entry.contactUs.all() %}
                <div class="w-full tracking-wider mb-6 flex flex-col">
                  <h6 class="md:text-xl mb-1">
                    {{ block.companytitle }}
                  </h6>
                  {% if block.address != ''%}
                  <div class="text-sm md:text-base flex items-start mb-1">
                    <svg
                      class="h-4 w-4 transform -translate-y-1 md:-translate-y-px mt-1 mr-2"
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-map-pin"
                      width="44"
                      height="44"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="#092340"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" />
                      <circle cx="12" cy="11" r="3" />
                      <path
                        d="M17.657 16.657L13.414 20.9a1.998 1.998 0 0 1 -2.827 0l-4.244-4.243a8 8 0 1 1 11.314 0z"
                      />
                    </svg>
                    <span>{{ block.address |  nl2br }}</span>
                  </div>
                  {% endif %}
                  <div
                    href="tel:{{ block.phone }}"
                    class="text-sm md:text-base flex items-start mb-1 focus:outline-none focus:shadow-outline"
                  >
                    <svg
                      class="h-4 w-4 transform -translate-y-1 md:-translate-y-px mt-1 mr-2"
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-phone"
                      width="44"
                      height="44"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="#092340"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" />
                      <path
                        d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
                      />
                    </svg>
                    <span>{{ block.phone | raw }}</span>
                  </div>
                  <a
                    href="{{ block.website }}" target="_blank"
                    class="text-xs md:text-base font-bold focus:outline-none focus:shadow-outline" style="color: #AEB3B3;"
                    >{{ block.website  |replace({'https://': ''}) }}</a
                  >
                </div>
                {% endfor %}

                <div class="w-full h-10 flex justify-end">
                  <button
                    onclick="fShow()"
                    class="flex items-center focus:outline-none"
                  >
                    <span class="text-xs md:text-base">Send us a message</span>
                    <div
                      class="ml-2 w-6 h-6 border-t border-r border-navy transform rotate-45 mr-2"
                    ></div>
                  </button>
                </div>
              </div>

              <!-- Contact Form -->
              <div id="form" class="w-full h-full hideF">
                <div class="w-full h-10 flex justify-start mb-6">
                  <button
                    onclick="iShow()"
                    class="flex items-center focus:outline-none"
                  >
                    <div
                      class="ml-2 w-6 h-6 border-b border-l border-navy transform rotate-45 mr-2"
                    ></div>
                    <span class="text-xs md:text-base">Contact Us</span>
                  </button>
                </div>
                <h3
                  class="text-4xl md:text-5xl font-bold leading-tight uppercase tracking-wide mb-12 text-navy"
                >
                  Send us a Message
                </h3>
           <!-- Form -->
           {% macro errorList(errors) %}
           {% if errors %}
               <ul class="errors">
                   {% for error in errors %}
                       <li>{{ error }}</li>
                   {% endfor %}
               </ul>
           {% endif %}
           {% endmacro %}

           {% from _self import errorList %}

           {{ wheelformErrors['form'] is defined ? errorList(wheelformErrors['form']) }}

           <form method="post" action="" accept-charset="UTF-8" novalidate="" enctype="multipart/form-data" class="form grid grid-cols-1 gap-8">
           {{ csrfInput() }}
           <input type="hidden" name="action" value="wheelform/message/send">
           <input type="hidden" name="form_id" value="1">
           {% if craft.app.session.hasFlash('wheelformSuccess') %}
               <p class="message success" style="color: #AEB3B3;">{{ craft.app.session.getFlash('wheelformSuccess') }}</p>
           {% endif %}
           {# <input type="hidden" name="redirect" value="{{ 'contact/thanks'|hash }}"> #}
           <div class="relative w-full">
             <input class="formInput w-full focus:outline-none border-b border-navy" id="from-name" type="text" name="name" value="{{ values['name'] ?? '' }}"  />
             <label for="from-name">Your Name</label>
             {{ wheelformErrors['name'] is defined ? errorList(wheelformErrors['name']) }}
           </div>
           <div class="relative w-full">
                    <input
                      class="formInput w-full focus:outline-none border-b border-navy"
                      id="number" type="number" name="number" value="{{ values['number'] ?? '' }}"
                    />
              <label for="number">Contact Number</label>
              {{ wheelformErrors['number'] is defined ? errorList(wheelformErrors['number']) }}
           </div>
           <div class="relative w-full">
              <input class="formInput w-full focus:outline-none border-b border-navy" id="from-email" type="email" name="email" value="{{ values['email'] ?? '' }}"/>
              <label for="from-email">Email Address</label>
              {{ wheelformErrors['email'] is defined ? errorList(wheelformErrors['email']) }}
            </div>
            <div class="relative w-full">
               <input class="formInput w-full focus:outline-none border-b border-navy" id="subject" type="text" name="subject" value="{{ values['subject'] ?? '' }}"/>
               <label for="subject">Subject</label>
               {{ wheelformErrors['subject'] is defined ? errorList(wheelformErrors['subject']) }}
             </div>
             <div class="flex flex-col">
                     <p for="message" class="text-base">Message</p>
                     <textarea
                       rows="10" cols="40" id="message" name="message"
                       class="w-full border border-navy px-2 py-1"
                     >{{ values['message'] ?? '' }}</textarea>
                     {{ wheelformErrors['message'] is defined ? errorList(wheelformErrors['message']) }}
                   </div>
           {# if using recaptcha settings #}
           {# <div class="recaptcha-container">
               <script src="https://www.google.com/recaptcha/api.js"></script>
               <div class="g-recaptcha" data-sitekey="{{ site_key }}">
               </div>
           </div> #}
           <div class="w-full flex -mt-1">
                    <input
                      type="submit" value="Send"
                      class="bg-transparent text-navy hover:bg-navy hover:text-white border border-navy py-2 px-4 cursor-pointer"
                    />
                  </div>
           {# <input type="submit" value="Send"> #}
           </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
   {# <script src='/assets/js/section/navigation.js'></script> #}
  <script src='/assets/js/pages/contact/contact.js'></script>
</div>
{% endblock %}
