<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ seomatic.meta.seoTitle }}</title>
    <meta name="theme-color" content="#092340" />
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/assets/css/tailwind.css" />
    <link rel="stylesheet" href="/assets/css/global.css" />
    <link rel="stylesheet" href="/assets/css/animatedLogo.css" />
    <!-- scripts -->
    <script type="text/javascript" src="/assets/js/jquery.js"></script>
    <script>
      //Disable Scroll https://stackoverflow.com/a/4770179
      var keys = { 37: 1, 38: 1, 39: 1, 40: 1 };

      function preventDefault(e) {
        e.preventDefault();
      }

      function preventDefaultForScrollKeys(e) {
        if (keys[e.keyCode]) {
          preventDefault(e);
          return false;
        }
      }

      // modern Chrome requires { passive: false } when adding event
      var supportsPassive = false;
      try {
        window.addEventListener(
          "test",
          null,
          Object.defineProperty({}, "passive", {
            get: function () {
              supportsPassive = true;
            },
          })
        );
      } catch (e) {}

      var wheelOpt = supportsPassive ? { passive: false } : false;
      var wheelEvent =
        "onwheel" in document.createElement("div") ? "wheel" : "mousewheel";

      // call this to Disable
      function disableScroll() {
        window.addEventListener("DOMMouseScroll", preventDefault, false); // older FF
        window.addEventListener(wheelEvent, preventDefault, wheelOpt); // modern desktop
        window.addEventListener("keydown", preventDefaultForScrollKeys, false);
      }

      // call this to Enable
      function enableScroll() {
        window.removeEventListener("DOMMouseScroll", preventDefault, false);
        window.removeEventListener(wheelEvent, preventDefault, wheelOpt);
        window.removeEventListener(
          "keydown",
          preventDefaultForScrollKeys,
          false
        );
      }
    </script>
  </head>
  <body class="antialiased relative">
    <!-- body content -->
    {% block bodyContent %}
    {% endblock %}
  </body>
</html>
