{% set activeNode = craft.navigation.getActiveNode({ handle: 'main' }) %}
{% set nodes = craft.navigation.nodes().all() %}
{% nav node in nodes %}
<a href="{{ node.url }}" class="navigation-box flex pb-6 focus:outline-none {{ node.classes }}"
  >{{ node.title }}</a
>

{% endnav %}
