{% extends '_layouts/base' %}

{% block bodyContent %}
  <!-- Nav Bar -->
  <div
    onmouseover="disableScroll()"
    onmouseout="enableScroll()"
    class="nav z-50 py-4 md:py-12 lg:py-20 w-full h-16 md:w-32 px-6 lg:w-64 lg:px-12 md:h-screen bg-transparent hover:bg-navy transition-colors duration-300 fixed top-0 right-0 border-b md:border-b-0 md:border-l border-transparent hover:border-white cursor-pointer flex md:flex-col justify-between">
    <div id="menuBox" class="flex flex-col items-center justify-center order-2 md:order-1">
      <div id="menu" class="flex flex-col justify-between h-4 md:h-6 transition-transform duration-500 md:mb-4">
        <div class="menuLines w-5 md:w-8 bg-white" style="height: 0.1rem;"></div>
        <div class="menuLines w-5 md:w-8 bg-white" style="height: 0.1rem;"></div>
        <div class="menuLines w-5 md:w-8 bg-white" style="height: 0.1rem;"></div>
      </div>
      <p class="menuTextChange hidden md:block uppercase text-white text-xs md:text-base">
        Menu
      </p>
    </div>
    <a href="#top" class="backToTop transform -rotate-90 hidden md:flex items-center order-2 text-sage">
      <span style="white-space: nowrap;">Back to top</span>
      <svg class="icon icon-tabler icon-tabler-chevron-right" xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z"/>
        <polyline points="9 6 15 12 9 18"/>
      </svg>
    </a>
    <a class="block md:w-full order-1 md:order-3 focus:outline-none" href="{{ url('') }}">
      <img class="navLogoChange w-16 md:w-24 mx-auto hidden md:block" src="/assets/images/logo/MHM_Automation_Logo_Stacked_REVERSED.svg" alt=""/>
      <img class="navLogoMobileChange w-16 md:w-24 mx-auto block md:hidden" src="/assets/images/logo/MHM_Automation_Logo_Stacked_REVERSED.svg" alt=""/>
    </a>
  </div>
  <!-- Border Mobile -->
  <div class="w-full h-16 fixed top-0 left-0 border-b border-white z-30 md:hidden mobileLine"></div>

  <!-- Nav Items -->
  <div id="menuBar" onmouseover="disableScroll()" onmouseout="enableScroll()" class="z-40 w-screen h-full fixed top-0 left-0 bg-navy transform transition-transform duration-500 pr-16 md:pr-32 lg:pr-64">
    <div class="w-full h-full md:grid grid-cols-3">
      <div class="col-span-1 h-full hidden md:block">
        <!-- Nav Image -->
        <img class="w-full h-full object-cover" src="{{ navigationImage.image.one().url()  }}" alt=""/>
      </div>
      <!-- Nav Links -->
      <div class="col-span-2 h-full">
        <div class="relative max-w-lg w-full px-6 md:px-12 mx-auto h-full pt-24 md:pt-48">
          <div class="navLine w-px h-full bg-white absolute top-0 left-0 hidden md:block" style="transition: max-height 300ms;"></div>

          <div class="linkBox flex flex-col ext-2xl md:text-4xl text-white uppercase">
            <!-- Navigation -->
            {% include '_sections/navigation' %}
            <!-- End Navigation -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <main id="top" class="overflow-hidden">
    <!-- Content -->
    {% set error = craft.entries.section('error404') %}
      {% set entries = error.all() %}
      {% for entry in entries %}
    <article class="relative w-full min-h-screen bg-navy bg-opacity-50 overflow-hidden">
      <!-- Background Image for ya-->
      <img src="{{ entry.bannerImage.one().url() }}" alt="about" class="z--1 w-full h-full object-cover absolute top-0 left-0"/>
      <div class="absolute z-30 top-0 right-0 w-0 md:w-32 lg:w-64 md:h-full md:border-l border-white"></div>
      <div class="w-full min-h-screen md:pr-32 lg:pr-64 flex items-center">
        <div id="mainContent" class="relative max-w-6xl mx-auto w-full px-4 md:px-16 xl:px-32 py-32 text-white">
          <!-- Main Content -->
          <div class="w-full px-6">
            {% for i, block in entry.pageIntroduction.all() %}
            <h3 class="text-4xl md:text-5xl font-bold leading-tight uppercase tracking-wide mb-4">
              {{ block.mainHeading }}
            </h3>
            <div class="text-lg md:text-2xl tracking-wide mb-3">
              {{ block.richText }}
            </div>
            {% endfor %}
            <a href="{{ url('') }}" class="py-2 px-4 text-sm md:text-base border border-white hover:bg-white hover:text-navy transition-colors du">
                      Visit Website
            </a>
          </div>
        </div>
      </div>
    </article>
    {% endfor %}
    <!-- Footer -->
    <div class="w-full absolute bottom-0 flex justify-end right-0">
      <p class="text-navy text-center text-xs w-full md:w-32 lg:w-64 p-2" style="font-size: 0.55rem;">
        &copy; MHM Automation
        <script>
          document.write(new Date().getFullYear())
        </script>
        | Website by
        <a href="https://marketsouth.co.nz/" target="_blank">Market South</a>
      </p>
    </div>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/ScrollTrigger.min.js"></script>
  <script src='./assets/js/pages/about/about.js'></script>
  <script src='./assets/js/section/navigation.js'></script>
{% endblock %}
